//        1111px

@media (max-width: 69.4375em)
  .left
    img
      width: 70rem
    &__rect-blue
      width: 51rem
      height: 14rem
      transform: rotate(-63deg)
    &__rect-orange
      width: 51rem
      height: 14rem
      transform: rotate(-55deg)
    &__rect-grey
      width: 51rem
      height: 14rem
      transform: rotate(-48deg)
      
  .main-section
    min-height: 64rem
    &__second-circle
      top: 51rem   

  .card-item
    width: 23rem 
    height: 23rem
    &__img
      height: 21.5rem
    &__text
      top: 13rem
      right: -7rem

.second-section
  min-height: 52rem

.icon-box
  gap: 4rem
  img
    width: 5rem
    
html
  font-size: 56.25%
      
//        1111px
      


      

 

  

